Header {
    background: darkcyan
}

#upperinfo {
    border: solid gray;
    height: auto;
    padding: 1 3;
    align: center middle;
}

#prog > Bar {
    color: seagreen;
}

#list{
    padding: 1
}

#timeupdate {
    color: gray;
    text-align: right
}